.env
.env.*

venv/
.venv/
env/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

*.sqlite3
*.db
*.log
*.sql
.sql

.vscode/
.idea/
*.swp
.DS_Store

*.pem
*.key
secrets/

.mypy_cache/
pip-wheel-metadata/
__pypackages__/